{% extends "base.html" %}
    {% load static %}
    {% block content %}
    <div class="container-fluid px-4">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        <ol class="breadcrumb mb-4">
            <a class="btn btn-primary" href="{% url  'CrearGrupo' %}" role="button">Link</a>
        </ol>        
        <div class="row">
          {% for group in groups %}
            <div class="col-xl-3 col-md-6">
                <div class="card bg-primary text-white mb-4">
                    <div class="card-body"> {{ group.group_name }}   {{ group.num_devices }}</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="{% url  'ViewAccessPoints' group.group_name %}">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>


    {% endblock %}