<!-- Incluye jQuery (asegúrate de agregarlo en tu proyecto) -->
{% extends "base.html" %}
    {% load static %}
    {% block content %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


<div id="device-detail-container">
    <h3 class="breadcrumb-item active">Detalle del Dispositivo</h3>
    <!-- <p id="device-detail-content">Cargando...</p> -->
</div>
<div class="card mb-4">
    <div class="card-body">
        <button id="updateButton">Actualizar Dispositivo</button>
        <a href="{% url  'update_device' device.macAddress  %}">Search for devices</a>
    </div>
</div>
<div class="container-fluid px-4">
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        {{ device.deviceName }}
    </div>    
    <div class="card-body">
        <div id="device-detail-container"> 
        <table>
            <tr><td>Mac: {{ device.macAddress }}</td></tr>
            <tr><td>Ip: {{ device.ipAddress }}</td></tr>
            <tr><td>Version: {{ device.version }}</td></tr>
            <tr><td>Controller: {{ device.controllerStatus }}</td></tr>
        </table>
        <!-- <p id="device-detail-content">Cargando...</p> -->
        {% if device.clientes %}
        <ul>
            {% for port, mac_address in device.clientes.items %}
                <li>Cliente en el puerto {{ port }}: {{ mac_address }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay clientes disponibles.</p>
    {% endif %}
    
    </div>
</div>
</div>

{% endblock %}