<!-- Incluye jQuery (asegúrate de agregarlo en tu proyecto) -->
{% extends "base.html" %}
    {% load static %}
    {% block content %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


<!-- <div id="device-detail-container">
    <h1>Detalle del Dispositivo</h1>
    <p id="device-detail-content">Cargando...</p>
</div> -->
<div class="container-fluid px-4">
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        DataTable Example
    </div>    
<div class="card-body">
<div id="device-detail-container"> 
<p id="device-detail-content">Cargando...</p>
</div>
</div>
</div>
<!-- JavaScript para realizar la solicitud AJAX -->
<script>
    $(document).ready(function () {
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        });

        var deviceDetailUrl = "{% url 'device-detail' pk='c7419b8d-4c2a-407a-8001-fc1629318c59' %}";

        $.ajax({
            url: deviceDetailUrl,
            type: 'GET',
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            },
            dataType: 'json',
            success: function (data) {
                console.log("test");

                // Limpia la lista antes de agregar elementos
                $("#device-detail-content").empty();

                // Recorre la lista y agrega cada elemento como un ítem de lista
                $.each(data, function (index, element) {
                    $("#device-detail-content").append('<div class="col-sm-6">'+index+'</div><div>' + element + '</div>');
                });
            },
            error: function (error) {
                console.error('Error al cargar los detalles del dispositivo:', error);
                $("#device-detail-content").html('Error al cargar los detalles del dispositivo.');
            }
        });
    });
</script>
{% endblock %}