{% extends "base.html" %}
{% load static %}
{% block content %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<div class="container-fluid px-4">
    <ol class="breadcrumb mb-4">
        <!-- Este es el botón con el que quiero abrir el formulario -->
        <button class="btn btn-primary" id="cargarDatosBtn" type="button">Cargar Datos</button>
    </ol>

    <!-- Formulario de subida de archivos (inicialmente oculto) -->
    <div id="uploadFormContainer" style="display:none;">
        <form id="uploadForm" method="post" enctype="multipart/form-data" action="{% url 'upload_file' group_id=group_name %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="file">Selecciona un archivo Excel</label>
                <input type="file" id="file" name="file" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Subir</button>
        </form>
    </div>

    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Dispositivos
        </div>
        <div class="card-body">
            <form id="myForm" method="post" action="{% url 'set-controller' %}">
                {% csrf_token %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Ip Address</th>
                            <th>Mac</th>
                            <th>Model</th>
                            <th>Serial</th>
                            <th>Version</th>
                            <th>Status</th>
                            <th>
                                <input type="checkbox" id="seleccionarTodos">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dispositivo in dispositivos %}
                        <tr>
                            <td>{{ dispositivo.host_name }}</a></td>
                            <td>{{ dispositivo.ip_address }}</td>
                            <td>{{ dispositivo.mac_address }}</td>
                            <td>{{ dispositivo.model }}</td>
                            <td>{{ dispositivo.serial }}</td>
                            <td>{{ dispositivo.version }}</td>
                            <td>{{ dispositivo.group_name }}</td>
                            <td><input type="checkbox" class="checkbox" name="dispositivos_seleccionados" value="{{ dispositivo.ip_address }} {{ dispositivo.id }}" data-group="{{ dispositivo.group_name }}"></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <button type="submit" id="enviar" disabled>Enviar</button>
            </form>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    // Mostrar el formulario de subida de archivos al hacer clic en el botón
    $('#cargarDatosBtn').click(function() {
        $('#uploadFormContainer').toggle();
    });

    const seleccionarTodosCheckbox = document.getElementById('seleccionarTodos');
    const checkboxes = document.querySelectorAll('.checkbox');
    const enviarButton = document.getElementById('enviar');

    seleccionarTodosCheckbox.addEventListener('change', function() {
        checkboxes.forEach(checkbox => {
            checkbox.checked = seleccionarTodosCheckbox.checked;
        });
        const algunSeleccionado = [...checkboxes].some(checkbox => checkbox.checked);
        enviarButton.disabled = !algunSeleccionado;
    });

    enviarButton.addEventListener('click', function() {
        const dispositivosSeleccionados = [...checkboxes].filter(checkbox => checkbox.checked).map(checkbox => checkbox.value);
        console.log(dispositivosSeleccionados);
    });

    checkboxes.forEach(checkbox => {
        checkbox.addEventListener('change', () => {
            const algunSeleccionado = [...checkboxes].some(checkbox => checkbox.checked);
            enviarButton.disabled = !algunSeleccionado;
        });
    });

    $('#myForm').submit(function(event) {
        event.preventDefault();
        const dispositivosSeleccionados = [...checkboxes].filter(checkbox => checkbox.checked).map(checkbox => checkbox.value);
        const groupName = checkboxes[0].dataset.group;
        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

        const data = {};
        data[groupName] = dispositivosSeleccionados;

        $.ajax({
            type: 'POST',
            url: $(this).attr('action'),
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(data),
            headers: {
                'X-CSRFToken': csrfToken
            },
            success: function(response) {
                console.log('Success:', response);
            },
            error: function(error) {
                console.log('Error:', error);
            }
        });
    });
});
</script>

{% endblock %}
