{% extends "base.html" %}
    {% load static %}
    {% block content %}
    <div class="container-fluid px-4">
        <h1 class="mt-2">{{ group_name }}</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="{% url 'Inicio' %}">Dashboard</a></li>
            <li class="breadcrumb-item active">Access points</li>
        </ol>
        <div class="row">
            <!-- <div class="col-xl-3 col-md-6">
                <div class="card bg-primary text-white mb-4">
                    <div class="card-body">Primary Card</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div> -->
            <div class="col-xl-3 col-md-4">
                <div class="card bg-success text-white mb-4">
                    <div class="card-body">UP: {{ status_counts_dict.status_1_count }}</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4">
                <div class="card bg-warning text-white mb-4">
                    <div class="card-body">ERROR: {{ status_counts_dict.status_2_count }} Card</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4">
                <div class="card bg-danger text-white mb-4">
                    <div class="card-body">DOWN: {{ status_counts_dict.status_0_count }}</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
        </div>        
        <div class="card mb-4">
            <div class="card-body">
                Agregar disositivos individualmente.
                <a href="{% url  'procesar_formulario' group_name %}">Search for devices</a>
                .
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Dispositivos
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Ip Address</th>
                            <th>Mac</th>
                            <th>Model</th>
                            <th>Version</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Ip Address</th>
                            <th>Mac</th>
                            <th>Model</th>
                            <th>Version</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for dispositivo in dispositivos %}
                        <tr>
 
                            <td><a href="{% url 'device-detail' dispositivo.id %}">{{ dispositivo.host_name }}</a></td>
                            <td>{{ dispositivo.ip_address }}</td>
                            <td>{{ dispositivo.mac_address }}</td>
                            <td>{{ dispositivo.model }}</td>
                            <td>{{ dispositivo.version }}</td>
                            <td>{{ dispositivo.status }}</td>
                            <td><a href="{% url 'DeleteDevice' dispositivo.id %}"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endblock %}